h1 {
  padding: 20px;
  background-color: gray;
}
button {
  background-color: gray;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  position: absolute;
}
div {
  position: absolute;
  width: 500px;
  height: 500px;
}
#rightSide {
  left: 500px;
  border-left: 1px solid;
}
/* #restart {
  text-align: center;
  display: none;
  background-color: red;
} */
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 20px;
  background-color: gray;
}
button {
  background-color: gray;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  position: absolute;
}
div {
  position: absolute;
  width: 500px;
  height: 500px;
}
#rightSide {
  left: 500px;
  border-left: 1px solid;
}
/* #restart {
  text-align: center;
  display: none;
  background-color: rgb(237, 240, 56); */
}
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.button {
  display: block;
  border-radius: 4px;
  background-color: #f4e61e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
}

/* .button span {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transition: 0.5s;
} */
